<ion-view style="" title="Task -1">
    <ion-content class="has-header" padding="true">
        <h1 style="">TASK-1</h1>
        <div style="" class="list card">
            <div class="item item-divider">Description</div>
            <div class="item item-body">
                <div style="">
                    <p>description here of a task will be here.</p>
                </div>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Requirements</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Item 1</ion-item>
                    <ion-item style="">Item 2</ion-item>
                    <ion-item style="">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Steps</div>
            <div class="item item-body">
                <form style="" class="list">
                    <ion-radio style="" name="Step 1">Step 1</ion-radio>
                    <ion-radio style="">Step 2</ion-radio>
                    <ion-radio style="">Step 3</ion-radio>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>