<ion-view style="" title="Tasks">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" href="#/page4" class="item-thumbnail-left">
                <img>
                <h2>Task-1</h2>
                <p>Item</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Task-2</h2>
                <p>Item</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Task-3</h2>
                <p>Item</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Task-4</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>